.background {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: $beigeTrasparencia;
}

.backgroundGral {
    background-image: map-get($background , bgGral ) ;
}
.backgrounMalbec {
    background-image: map-get($background , bgMalbec );
}
.backgrounCabernet {
    background-image: map-get($background , bgCabernet );
}
.backgrounMerlot {
    background-image: map-get($background , bgMerlot );
}
.backgrounTorrontes {
    background-image: map-get($background , bgTorrontes );
}
.backgrounVisita {
    background-image: map-get($background , bgVisita );
}
.backgrounDegustacion {
    background-image: map-get($background , bgDegustacion );
}
.backgrounCircuito {
    background-image: map-get($background , bgCircuito );
}