.background {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: $beigeTrasparencia;
}
.backgroundGral {
    background-image:url('../img/backgroud/backgroud.jpg');
}
.backgrounMalbec {
    background-image: url('../img/backgroud/backgroundMalbec.jpg');
}
.backgrounCabernet {
    background-image: url('../img/backgroud/backgroundCabernet.jpg');
}
.backgrounMerlot {
    background-image: url('../img/backgroud/backgroundMerlot.jpg');
}
.backgrounTorrontes {
    background-image: url('../img/backgroud/backgroundTorrontes.jpg');
}
.backgrounVisita {
    background-image: url('../img/backgroud/backgroundVisita.jpg');
}
.backgrounDegustacion {
    background-image: url('../img/backgroud/backgroundDegustacion.jpg');
}
.backgrounCircuito {
    background-image: url('../img/backgroud/backgroundCircuito.jpg');
}