.footerBarClass {
    background-color: $gris;

    a {
        color: $beige;
        font-size: 12px;
    }
}

.copyright {
    background-color: $bordo;
    color: $beigeTrasparencia;
    h6 {
        font-size: 10px;
    }
}