$bordo: #86212A;
$gris: #262626;
$beige: #F3F2EE;
$beigeTrasparencia: #f3f2eeaa;
$beigeCard: #f3f2ee72;

$background: (
    bgGral: url('../img/backgroud/backgroud.jpg'),
    bgMalbec: url('../img/backgroud/backgroundMalbec.jpg'),
    bgCabernet: url('../img/backgroud/backgroundCabernet.jpg'),
    bgMerlot: url('../img/backgroud/backgroundMerlot.jpg'),
    bgTorrontes: url('../img/backgroud/backgroundTorrontes.jpg'),
    bgVisita: url('../img/backgroud/backgroundVisita.jpg'),
    bgDegustacion: url('../img/backgroud/backgroundDegustacion.jpg'),
    bgCircuito: url('../img/backgroud/backgroundCircuito.jpg'),
);

